
= simple_form_for @addresses_billing, as: :address, url: user_address_path, method: :patch  do |form|

= simple_form_for '', as: :address, url: settings_address_path, method: :patch  do |form|

  = form.hidden_field :address_type, value: 'billing'
  = render 'form', f: form
