%header.navbar.navbar-default
  .container
    %a.navbar-brand  BookStore
    %a.shop-link.pull-right.hidden-xs{href: "#"}
      %span.shop-icon
        %span.shop-quantity 3
    #navbar.navbar-collapse.collapse.pl-30{'aria-expanded': "false"}
      .visible-xs
        %button.close{type: "button", 'aria-label': "Close"}
          %span{'aria-hidden': "true"} &times;
        %ul.nav.navbar-nav
          %li
            -# = link_to t('.home'), root_path
          
      .hidden-xs
        %ul.nav.navbar-nav
          %li
            %a{href: "#"} Home
            -# = link_to t('.home'), root_path
          %li.dropdown
            %a.dropdown-toggle{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"} Shop
            %ul.dropdown-menu
              - Category.all.each do |category|
                %li
                  = link_to books_path(category_id: category.id) do
                    = category.title
              %li.divider{role: "separator"}
              %li
                %a{href: "#"} Log Out
          %li
            %a{href: "#"} Log in
          %li
            %a{href: "#"} Sign Up
