= simple_form_for @user, remote: true, url: update_email_user_path, html: { class: 'general-form-md', id: 'new_users_email_form'} do |f|
  .form-group.mb-35
    = f.input 'email', as: :hidden
    = f.input :email, label: t('auth_user.email_label'), label_html: { class: 'input-label' }, placeholder: t('auth_user.email_placeholder')
  .general-text-align
    = f.button :submit, t('auth_user.save'), style: 'btn-default mb-35'
