%main.container
  = render 'books/partials/filter', presenter: @presenter
  .mb-120
    .row#show-books
      = render books
    .text-center#more_books
      - if (pagy_next_url(@pagy))
        = render partial: 'books/partials/next_page_link'
