
%main.container
  = render partial: 'books/partials/filter'
  .mb-120
    .row#show-books
      = render partial: 'books/partials/book', collection: @books, as: :book
    .text-center#more_books
      = link_to t('.view_more'), books_url(page: @books.next_page), remote: true, class: "btn btn-primary" if @books.next_page
