%ul.list-inline.pt-10.mb-25.mr-240
  %li.mr-35
    = link_to books_path, class: 'filter-link' do
      = t('books.partials.filter.all')
      %span.badge.general-badge
        = books.size
      = render 'books/partials/categories_line_item'

