<!DOCTYPE html>
%html
  %head
    %meta{charset: "UTF-8"}
    %meta{name: "viewport", content: "width=device-width"}
    %title Bookstore
  %body
    %main.container
      %h1.general-title-margin Сatalog
      .hidden-xs.clearfix
        .dropdowns.pull-right
          .dropdown.width-240
            %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
              Newest first
              %i.fa.fa-angle-down.dropdown-icon.pull-right
            %ul.dropdown-menu
              %li
                %a{href: "#"} Newest first
              %li
                %a{href: "#"} Popular first
              %li
                %a{href: "#"} Price: Low to hight
              %li
                %a{href: "#"} Price: Hight to low
        %ul.list-inline.pt-10.mb-25.mr-240
          %li.mr-35
            %a.filter-link{href: "#"}
              All
              %span.badge.general-badge 135
            - @categories.each do |cat|
              %li.mr-35
                = link_to request.params.merge(category_id: cat.id), class: 'filter-link custom-filter' do
                  = cat.title
                  %span.badge.general-badge= cat.books.count

      

      .dropdowns.mb-25.visible-xs
        %p.lead.small.mb-10 Filter by category
        .dropdown
          %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
            Newest first
            %i.fa.fa-angle-down.dropdown-icon.pull-right
          %ul.dropdown-menu
            %li
              %a{href: "#"} Newest first
            %li
              %a{href: "#"} Popular first
            %li
              %a{href: "#"} Price: Low to hight
            %li
              %a{href: "#"} Price: Hight to low
        %p.lead.small.mb-10 Sort by
        .dropdown
          %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
            Newest first
            %i.fa.fa-angle-down.dropdown-icon.pull-right
          %ul.dropdown-menu
            %li
              %a{href: "#"} Newest first
            %li
              %a{href: "#"} Popular first
            %li
              %a{href: "#"} Price: Low to hight
            %li
              %a{href: "#"} Price: Hight to low
      .mb-120
        .row
          .col-xs-6.col-sm-3
            .general-thumb-wrap
              .thumbnail.general-thumbnail
                %img.img-shadow.general-thumbnail-img{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
                .thumb-hover
                  .general-thumb-link-wrap
                    = link_to books_path(id: @books), class: 'thumb-hover-link' do
                      %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
                    %a.thumb-hover-link{href: "#"}
                      %i.fa.fa-shopping-cart.thumb-icon
            
            .general-thumb-info
              -# %p.title= @categories.find(4).books.find(3).title
              %p.font-16.in-gold-500 €28.50
              %span.divider-sm
              %p.lead.small Bass Jobsen, David Cochran, Ian Whitley
        .text-center
          %button.btn.btn-primary View More
