%p
  = t('.hello', email: @mail)
- if @resource.try(:unconfirmed_email?)
  %p
    = t('.email_change', unconfirmed_email: @resource.unconfirmed_email)
- else
  %p
    = t('.email_changed', email: @resource.email)
